body {
    background-color: rgb(169, 223, 196);
}

/*trtrtrtrtrt*/
img {
    width: 10%
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.intro{
    display: flex;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    padding: 16px
    ;
}

a{
    color: black;
    text-decoration: none;
}

equipe{
    display: grid;
    grid-template-columns: 33%  33% 33%;
    
}
